$btn-color: blue;
.btn-1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  position: relative;
  font-size: 17px;
  background: #333;
  border: none;
  color: #fff;

  &:hover {
    letter-spacing: 0.25em;
    background: $btn-color;
    color: $btn-color;
    box-shadow: 0 0 45px $btn-color;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #222222;
  }

  & span {
    position: relative;
    z-index: 1;
  }

  & i {
    position: absolute;
    inset: 0;
    display: block;

    &::before {
      content: "";
      position: absolute;
      border: 2px solid $btn-color;
      width: 20px;
      height: 10px;
      top: -3.5px;
      left: 80%;
      background: $btn-color;
      transform: translateX(-50%);
      transition: 0.5s;
    }

    &::after {
      content: "";
      position: absolute;
      border: 2px solid $btn-color;
      width: 20px;
      height: 10px;
      bottom: -3.5px;
      left: 20%;
      background: $btn-color;
      transform: translateX(-50%);
      transition: 0.5s;
    }
  }

  &:hover i::before {
    width: 20px;
    left: 20%;
  }

  &:hover i::after {
    width: 20px;
    left: 80%;
  }
}
