@import "./_settings.scss";
@import "./_component_button.scss";

.active {
  stroke: $color;
}
.button {
  position: relative;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  border: none;
  background: none;

  svg {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
  .border {
    width: 100%;
    height: 100%;
    stroke-width: 2px;
    fill: #0000;
    rx: 1em;
    ry: 1em;
    stroke-dasharray: 25;
    transition: fill 0.25s;
    animation: 4s linear infinite stroke-animation;
  }

  &:hover .border {
    fill: #0001;
  }

  @keyframes stroke-animation {
    0% {
      stroke-dashoffset: 100;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  .txt-upload {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
